.header {
    padding-top: 20px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
    align-items: center;
}

.burger {
    margin-right: 28px;
}

.youtube__flex {
    display: flex;
    align-items: center;
    margin-right: 90px;
}

.youtube__heading {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    margin: 0;
}

.search__input {
    width: 630px;
    border-radius: 50px;
    margin-right: 410px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: transparent;
    color: #fff;
    background-color: black;
}

.video {
    margin-right: 30px;
}

.nuqta {
    margin-right: 30px;
}

.budilnik {
    margin-right: 30px;
}